<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block head %}
    <title>{% block title %}{% endblock %} – MoneyCalculation app</title>
    {% endblock %}
</head>
<body>
    <div>
        <b>MoneyCalculation app:</b>
        <a href="{{ url_for('index') }}">Главная</a>
        {% if current_user.is_anonymous %}
        <a href="{{ url_for('login') }}">Войти</a>
        {% else %}
        <a href="{{ url_for('user', username=current_user.username) }}">Аккаунт</a>
        <a href="{{ url_for('logout') }}">Выйти</a>
        {% endif %}
    </div>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block body %}
    {% endblock %}
</body>
</html>